html 
{background-color: aquamarine;
}

header
{display:flexbox;
    justify-content: center;
text-align:center;
margin: 16px;
padding: 10px;
background-color: darkblue;
color:greenyellow; font-size: x-large; font-family: cursive;
}

.img 
{display: flex;
    justify-content: center;
    width: 300;
    height: 500;
    gap: 16px;
    background-color: darkblue;
}


body
div 
{justify-content: center;
    text-align: center;
} 

input[type="text"]
{margin: 16px;
padding: 20px;
border-radius: 5px;
}

button
{justify-content:center;
margin: 16px 16px 16px 16px;
padding: 8px 8px 8px 8px;
font-size:medium; 
font-family: cursive; 
background-color:chartreuse;
color:black;
border-radius: 5px;
cursor:auto;
}

ul{
    list-style-type: none;
    font-size: x-large;
}

.movelist{
    display: flex;
    align-items: center;
    
}